

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */
header {
	position:fixed;
	background-color:lightgrey;
	width:100%;
}
#header-wrapper {
	background-color:lightgrey;
	height:100px;
	position:relative;
}
#site-header img {
	height:100px;
	float:left;
}
#header-nav {
	position:absolute;
	right:30px;
	top:40px;
}
#name {
	padding-top:35px;
	font-family:Helvetica;
	line-height:120%;
}
#header-nav ul li {
	float:left;
	margin:5px;
	padding-left:40px;
	padding-right:10px;
}
a {
	color:white;
	font-family:Helvetica;
	text-decoration:none;
}
#footer-wrapper {
	background-color:lightgrey;
	height:50px;
	position:relative;
}
#left-side {
	position:absolute;
	left:35px;
	bottom:10px;
	line-height:120%;
	font-size:12px;
}
#right-side {
	position:absolute;
	right:10px;
	bottom:10px;
}
#right-side ul li {
	float:left;
	padding-right:25px;
}
#right-side img {
	height:30px;
}
#about img {
	width:200px;
}
#home-portfolio {
	height:700px;
	background-color:orange;
}
#home-portfolio img {
	width:200px;
	margin:10px;
}
.title {
	font-family:Helvetica;
	color:black;
}
#BRING  {
	float:left;
}
#HOWTOPLAYWINE img {
	clear:both;
	float:left;
}
#WHATWENTWRONG img {
	float:left;
}
#RESPOND img {
	float:left;
}
#home-quote {
	background-color:teal;
	height:700px;
}
#home-about {
	height:700px;
	background-color:purple;
}