

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */

header{
	text-align:center;
	padding-top:10px;

}
nav {
	width:800px;
	height:60px;
	margin:0 auto;
	border-top:3px solid black;
	border-bottom:3px solid black;	
	margin-top:40px;
}
nav li{
	font-size:20pt;
	float:left;
	text-transform:uppercase;	
	list-style-type:disc;
	list-style-type:disc;
	padding:15px;
    list-style-position: inside;
	margin:0 auto;
}

#maincontent {clear: both;}

article {padding: 5%;
}

#cats {
	width:40%;
	float:left;
}
#dogs {
	width:40%;
	float:left;
}

.li1 {
	float:left;
}

.li11 {
	float:left;
	color:red;
	padding-left:5px;
}
#li2 {
	clear:both;
	float:right;
}
.li2 {
	float:right;
}
.li21 {
	color:red;
	float:right;
	padding-right:5px;
}

footer {
	clear:both;
	border-top: 2px solid black;
	padding-top:20px;
	margin:10px;
}
h2{
	font-size:15pt;
	font-style:bold;
	padding-bottom:5px;
}
#skip {
	list-style-type:none;	
}

@media screen and (max-width:1500px){
    img { max-width:98%;}
	/*nav {display:block;}*/
}
@media screen and (max-width:800px) {
	nav li {float:none;
		width:80%;
		margin:0 auto;
		list-style-type:none;
		font-size:18pt;
	}
	nav {
		margin:0 auto;
		border-top:2px solid black;
		border-bottom:2px solid black;	
		margin-top:40px;
		width:80%;		
		height:280px;
	}
}
@media screen and (max-width:600px) {
	nav {
		border-top:0px solid black;
		border-bottom:0px solid black;
		height:80px;	
	}
	nav li {
		font-size:15pt;
		display:inline; }
		
	#dogs {float:none;
			width:70%;
			margin:0 auto;}
	#cats {float:none;
			width:70%;
			margin:0 auto;}

}
